
<section class="about-us">
    <div class="about-us__content">
        <div class="about-us__frame frame">
            <div class="about-us__title frame__title">About us</div>
            <div class="about-us__text frame__text">
                <p class="about-us__paragraph">
                    When you work with us, you are part of a team of committed collaborators.
                    All aspects of our software development process are integrated, iterative and agile.
                </p>
                <p class="about-us__paragraph">
                    Our approach unifies design, development and
                    product management to create exceptional products.
                    We start each project by understanding your business goals,
                    the user’s needs and the product requirements.
                    Then we help translate them into effective and elegant solutions.
                </p>
            </div>
        </div>
    </div>
</section>