
<section class="contact-us">
    <div class="contact-us__inner">
        <div class="contact-us__content">
            <div class="contact-us__frame frame frame">
                <div class="contact-us__title frame__title frame__title">Contact us</div>
                <div class="contact-us__text frame__text">
                    <p class="contact-us__paragraph">
                        Planning and development is iterative. Because we are constantly coding and testing, 
                        the products we build are always ready to go live. This iterative process allows for 
                        changes as business requirements evolve. 
                    </p>

                    <button class="contact-us__button button">Contact us</button>

                </div>
            </div>
        </div>
    </div>
</section>