
<section class="gallery">
    <div class="gallery__content">

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-topworkz.jpg" alt="">
            <div class="gallery__name">Topworkz</div>
        </div>

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-joint.jpg" alt="">
            <div class="gallery__name">Joint</div>
        </div>

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-market.jpg" alt="">
            <div class="gallery__name">Market</div>
        </div>
    </div>

    <div class="gallery__content">

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-worktop.jpg" alt="">
            <div class="gallery__name">Worktop</div>
        </div>

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-label.jpg" alt="">
            <div class="gallery__name">Label</div>
        </div>

        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery-kyiv.jpg" alt="">
            <div class="gallery__name">Kyiv</div>
        </div>
    </div>
</section>