<header class="header">
    <div class="header__content">
        <div class="header__logo">
            <img src="../img/header-logo.png" alt="">
        </div>
        <div class="header__title">
            <div class="header__title-first">WORKING</div>
            <div class="header__title-second">WITH <h1 class="header__title-name">Design LAB</h1>
            </div>
        </div>
        <div class="header__subtitle">
            We’ve been helping startups launch and grow their businesses. We help you to fill the gap between
            development,
            design and product management.
        </div>
        <div class="header__scroll"></div>
    </div>
</header>