<section class="services">
    <div class="services__inner">
        <div class="services__content">
            <div class="services__frame frame frame--white">
                <div class="services__title frame__title frame__title--white">Services</div>
                <div class="services__text frame__text">
                    <p class="services__paragraph">
                        Before we sign a contract or write a line of code our team will spend the necessary time needed to understand your product vision. 
    The outcome of this scoping session is a proposal or high-level statement of work.
                    </p>
                    <p class="services__paragraph">
                        Based on your requirements, we can provide a complete offering or just the pieces you need. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>