<section class="what-we-do">
    <div class="what-we-do__inner">
        <div class="what-we-do__content">
            <div class="what-we-do__frame frame frame">
                <div class="what-we-do__title frame__title frame__title">what we do</div>
                <div class="what-we-do__text frame__text">


                    <div class="what-we-do__item">
                        <div class="what-we-do__item-icon"><i class="icon-wwd-2"></i></div>
                        <div class="what-we-do__item-name">Design</div>
                        <p class="what-we-do__paragraph">
                            Our design practice offers a full range of services including branding strategy,
                            interaction and visual design and user experience testing.
                            Throughout your project, our designers create and implement visual designs and workflows,
                            solicit user feedback, and work with you to make sure what gets built is what is needed.
                        </p>
                    </div>

                    <div class="what-we-do__item">
                        <div class="what-we-do__item-icon"><i class="icon-wwd-1"></i></div>
                        <div class="what-we-do__item-name">Development</div>
                        <p class="what-we-do__paragraph">
                            All engineers are fluent in the latest enterprise, mobile and web development technologies.
                            They collaborate with your team to write, test, and improve code on a daily basis, using
                            proven practices such as test-driven development and pair programing.
                        </p>
                    </div>

                    <div class="what-we-do__item">
                        <div class="what-we-do__item-icon"><i class="icon-wwd-3"></i></div>
                        <div class="what-we-do__item-name">Product Management</div>
                        <p class="what-we-do__paragraph">
                            Planning and development is iterative. Because we are constantly coding and testing, the
                            products we build are always ready to go live. This iterative process allows for changes as
                            business requirements evolve.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>