.services {
    background: url("../img/services-bg.jpg") no-repeat center;

    &__inner {
        padding: 100px 0 110px;
    }

    &__content {
        @extend .container;
    }

    &__paragraph {
        margin-bottom: 30px;
    }
}
